.detailList{
    border-radius: 8px
    margin-top: 11px
    background: #fff
    padding-bottom 8px
    .title{
        height 49px
        border-bottom: 1px solid rgba(0,0,0,0.10);
        img{
            width: 14px
            height 16px
            margin-left: 28px
        }
        span{
            margin-left: 9px
        }
    }
    .list{
        div{
            height 44px
            border-bottom: 1px solid rgba(0,0,0,0.10);
        }
        div:last-child{
            border none
        }
    }
}