.receive{
    background: #fff
    border-radius: 8px
    .title{
        height 49px
        img{
            width: 20px
            height 20px
        }
    }
    .number{
        height 39px
        font-size: 33px
        img{
            width: 32px
            height 32px
        }
           

    }
    .receive-list{
        border-top: 1px solid rgba(0,0,0,0.10);
        padding 8px 24px 12px 24px
        .list-data{
            height: 44px
            border-bottom: 1px solid rgba(0,0,0,0.10);
            img{
                width 16px
                height 16px
            }

        }
        .list-data:last-child{
            border none    
        }
    }
}