.report{
    background: #F0F0F0;
    padding-bottom: 20px
    .report-main{
        margin: 10px 10px 20px 10px
    }
    .question{
        background: #fff
        height: 94px
        margin-left: 11px
        margin-right: 11px
        border-radius: 8px
        button{
            padding-left 14px
            padding-right 14px
            height 28px
            border: 1px solid #CA16FF;
            color: #CA16FF;
            border-radius: 14px
        }
    }
}